<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-3 d-flex flex-column set-height">
            <div></div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ minAttackName }}</div>
                    <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ minAttackValue }}</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ maxAttackName }}</div>
                    <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ maxAttackValue }}</div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ actualAttackName }}</div>
                    <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ actualAttackValue }}</div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center justify-content-center mt-1 mb-2 control control-top control-border--big">{{ attackType }}</div>
                <div class="d-flex align-items-center justify-content-center control control-bottom control-border--big">
                    <div #carousel id="attackSelector" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img 
                                    class="d-block w-100"
                                    [src]="carouselTest1"  
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img 
                                    class="d-block w-100"
                                    [src]="carouselTest2"  
                                    alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#attackSelector" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#attackSelector" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column set-height">
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center name name-enemy name-border--big">{{ enemyName }}</div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center enemy-pic">
                    <img 
                        class="img-fluid"
                        [src]="enemyPicPath" 
                        alt="{{ enemyName }}">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center justify-content-center mt-1 control control-log control-border--big"></div>
            </div>
        </div>
        <div class="col-3 d-flex flex-column set-height">
            <div></div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ enemyHealth }}</div>
                        <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ enemyHealthValue }}</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ enemyInitiative }}</div>
                        <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ enemyInitiativeValue }}</div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center justify-content-center name name-display name-border--big">{{ enemyModifier }}</div>
                        <div class="d-flex align-items-center justify-content-center value value-display value-border--small">{{ enemyModifierType }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex align-items-center justify-content-center mt-1 mb-2 control control-top control-border--big">{{ retreat }}</div>
                <div class="d-flex align-items-center justify-content-center control control-bottom control-border--big">{{ options }}</div>
            </div>
        </div>
    </div>
</div>
