@import "../../assets/variables/borders";

.container-fluid {
    height: 100%;

    .row {
        height: 100%;

        .set-height {
            >:first-child {
                height: 50%;
            }

            >:last-child {
                height: 60%;
            }

            .name {
                background-color: $default-black;
                opacity: $dialogue-opacity;
                
                &-enemy {
                    width: 60%;
                    height: 50%;
                    font-size: $font-size-6;
                }

                &-display {
                    width: 80%;
                    height: 40%;
                    font-size: $font-size-3;
                    padding-top: 3px;
                }

                &-border {
                    &--big {
                        @include border-bigest;
                    }
                }
            }

            .value {
                background-color: $default-black;
                opacity: $dialogue-opacity;

                &-display {
                    width: 20%;
                    height: 40%;
                    font-size: $font-size-3;
                }

                &-border {
                    &--small {
                        @include border-medium;
                    }
                }
            }

            .control {
                background-color: $default-black;
                width: 80%;
                font-size: $font-size-3;

                &-top {
                    height: 40%;
                }

                &-bottom {
                    height: 50%;
                    width: 95%;
                }

                &-log {
                    height: 93%;
                    width: 95%;
                }

                &-border {
                    &--big {
                        @include border-bigest;
                    }
                }
            }

            .enemy-pic {
                width: 85%;
                height: 85%;
                background-color: $default-black;

                @include border-bigest;
            }
        }

        div {
            height: 100%;
        }
    }
    
}