<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Alapanyag neve:</label>
                        <input 
                            type="text"  
                            class="form-control"
                            formControlName="name">
                    </div>
                    <!-- <div class="text-center">
                        <label class="d-block">Mennyiség típusa:</label>
                        <hr>
                        <div class="form-check form-check-inline my-2 mb-3" *ngFor="let amountType of amountTypes">
                            <input class="form-check-input" type="radio" name="amountType" [id]="amountType" 
                            ngModel
                            [value]="amountType"
                            required>
                            <label class="form-check-label" [for]="amountType">
                                {{ amountType }}
                            </label>
                        </div>
                        <hr>
                    </div> -->
                    <div class="form-group">
                        <label for="calAmount">Kalória mennyiség:</label>
                        <input 
                            type="number"  
                            class="form-control"
                            aria-describedby="calorieHelpBlock"
                            formControlName="calAmount">
                        <small id="calorieHelpBlock" class="form-text helper">
                            100 g/ml
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="pictureUrl">Kép:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            aria-describedby="pictureHelpBlock"
                            formControlName="pictureUrl">
                        <small id="pictureHelpBlock" class="form-text">
                            (Opcionális)
                        </small>
                    </div>
                <button 
                    class="btn btn-success" 
                    type="submit"
                    [disabled]="!ingredientForm.valid">Mentés</button>
                <button 
                    class="btn btn-danger ml-2" 
                    type="button"
                    (click)="onDelete()">Törlés</button>
            </form>
        </div>
    </div>
</div>

