@import "../../../assets/variables/borders";

.container-fluid {
    height: 100%;
    width: 100%;
    background-color: $default-black;
    opacity: $stats-opacity;

    @include border-bigest-bottom;

    .flex-row {
        height: 100%;

        .flex-column {
            height: 100%;
            width: 33.2%;

            &:nth-child(2) {
                @include border-small-left-right;
            }

            >:first-child {
                @include border-small-bottom;
                @include transition;

                &:hover {
                    @include border-small-bottom-hover;
                }
            }

            >:last-child {
                @include border-small-transparent;
                @include transition;

                &:hover {
                    @include border-small-transparent-hover;
                }
            }

            div {
                height: 100%;
                width: 100%;
                background-size: auto 80%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        
    }
}