<div class="container-fluid p-0">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <div
                appGear 
                [style]="hand"></div>
            <div
                appGear 
                [style]="feet"></div>
        </div>
        <div class="d-flex flex-column">
            <div
                appGear 
                [style]="torso"></div>
            <div 
                appGear
                [style]="leg"></div>
        </div>
        <div class="d-flex flex-column">
            <div 
                appGear
                [style]="weapon"></div>
            <div 
                appGear
                [style]="shield"></div>
        </div>
    </div>
</div>
