<div class="container-fluid p-0">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-center">
                <!-- <img [src]="hand" alt=""> -->
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <!-- <img [src]="foot" alt=""> -->
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="">
                <!-- <img [src]="torso" alt=""> -->
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <!-- <img [src]="leg" alt=""> -->
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-center">
                <!-- <img [src]="weapon" alt=""> -->
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <!-- <img [src]="shield" alt=""> -->
            </div>
        </div>
    </div>
</div>
