<div class="container-fluid p-0">
    <div class="d-flex flex-column">
        <div class="row no-gutters">
            <div class="col-12">
                <app-health></app-health>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-attack></app-attack>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-defense></app-defense>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-gear></app-gear>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-energy></app-energy>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-effects></app-effects>
            </div>
        </div>
    </div>
</div>

<div class="pop-up-info" #popUp>
    <div class="column">
        <div class="row no-gutters my-2 p-2">
            <div class="col-4 pop-up-image" #popUpImage></div>
            <div class="col-8 d-flex align-items-center justify-content-center text-wrap">{{ gearName }}</div>
        </div>
        <div 
            *ngIf="gearAttack.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearAttack.attackPic"></div>
            <div class="col-3">{{ gearAttack.gearAttackValue }}</div>
            <div class="col-3 pic" [style]="gearAttack.handlePic"></div>
            <div class="col-3">{{ gearAttack.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearAttack.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearAttack.blacksmithPic"></div>
            <div class="col-3">{{ gearAttack.gearBlacksmithValue }}</div>
            <div class="col-3 pic" [style]="gearAttack.poisonPic"></div>
            <div class="col-3">{{ gearAttack.gearPoisonValue }}</div>
        </div>
        <div 
            *ngIf="gearDefense.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearDefense.defensePic"></div>
            <div class="col-3">{{ gearDefense.gearDefenseValue }}</div>
            <div class="col-3 pic" [style]="gearDefense.handlePic"></div>
            <div class="col-3">{{ gearDefense.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearDefense.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearDefense.barrierPic"></div>
            <div class="col-3">{{ gearDefense.gearBarrierValue }}</div>
            <div class="col-3 pic" [style]="gearDefense.thornPic"></div>
            <div class="col-3">{{ gearDefense.gearThornValue }}</div>
        </div>
        <div 
            *ngIf="gearHand.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearHand.defensePic"></div>
            <div class="col-3">{{ gearHand.gearDefenseValue }}</div>
            <div class="col-3 pic" [style]="gearHand.handlePic"></div>
            <div class="col-3">{{ gearHand.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearHand.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearHand.barrierPic"></div>
            <div class="col-3">{{ gearHand.gearBarrierValue }}</div>
            <div class="col-3 pic" [style]="gearHand.thornPic"></div>
            <div class="col-3">{{ gearHand.gearThornValue }}</div>
        </div>
        <div 
            *ngIf="gearFeet.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearFeet.defensePic"></div>
            <div class="col-3">{{ gearFeet.gearDefenseValue }}</div>
            <div class="col-3 pic" [style]="gearFeet.handlePic"></div>
            <div class="col-3">{{ gearFeet.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearFeet.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearFeet.barrierPic"></div>
            <div class="col-3">{{ gearFeet.gearBarrierValue }}</div>
            <div class="col-3 pic" [style]="gearFeet.thornPic"></div>
            <div class="col-3">{{ gearFeet.gearThornValue }}</div>
        </div>
        <div 
            *ngIf="gearTorso.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearTorso.defensePic"></div>
            <div class="col-3">{{ gearTorso.gearDefenseValue }}</div>
            <div class="col-3 pic" [style]="gearTorso.handlePic"></div>
            <div class="col-3">{{ gearTorso.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearTorso.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearTorso.barrierPic"></div>
            <div class="col-3">{{ gearTorso.gearBarrierValue }}</div>
            <div class="col-3 pic" [style]="gearTorso.thornPic"></div>
            <div class="col-3">{{ gearTorso.gearThornValue }}</div>
        </div>
        <div 
            *ngIf="gearLeg.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearLeg.defensePic"></div>
            <div class="col-3">{{ gearLeg.gearDefenseValue }}</div>
            <div class="col-3 pic" [style]="gearLeg.handlePic"></div>
            <div class="col-3">{{ gearLeg.gearHandleValue }}</div>
        </div>
        <div 
            *ngIf="gearLeg.condition" 
            class="d-flex flex-row align-items-center mb-2 p-1 stat-rows">
            <div class="col-3 pic" [style]="gearLeg.barrierPic"></div>
            <div class="col-3">{{ gearLeg.gearBarrierValue }}</div>
            <div class="col-3 pic" [style]="gearLeg.thornPic"></div>
            <div class="col-3">{{ gearLeg.gearThornValue }}</div>
        </div>
    </div>
</div>
