<div class="container-fluid p-0">
    <div class="d-flex flex-column">
        <div class="row no-gutters">
            <div class="col-12">
                <app-health></app-health>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-attack></app-attack>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-defense></app-defense>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-gear></app-gear>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-energy></app-energy>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-effects></app-effects>
            </div>
        </div>
    </div>
</div>

<div 
    class="pop-up-info"
    #popUp></div>
