<div class="container-fluid p-0">
    <div class="d-flex flex-column">
        <div class="row no-gutters">
            <div class="col-12">
                <app-health></app-health>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-attack></app-attack>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-defense></app-defense>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-gear></app-gear>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-energy></app-energy>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <app-effects></app-effects>
            </div>
        </div>
    </div>
</div>

<div 
    class="pop-up-info"
    #popUp>
    <div class="row no-gutters my-1">
        <div 
            class="pop-up-image"
            #popUpImage></div>
    </div>
    <div class="d-flex flex-column">
        <div class="text-center">{{ gearName }}</div>
        <div *ngIf="gearAttack.condition" class="d-flex flex-row justify-content-start align-items-center">
            <div [style]="gearAttack.pic"></div>
            <div>{{ gearAttack.gearAttackValue }}</div>
        </div>
        <div class="text-center"></div>
    </div>
</div>
