<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" routerLink="/ingredients">Diet Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/creator">Recept készítő <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
