@font-face {
    font-family: "fantasy";
    src: url(../font/fantasy.ttf);
}

// colors
$default-black: #000;
$border-color: #664d39;
$hover-color: #f58e49;
$text-shadow: 1px 0px 10px red;
$bubbles-mana: #3399FF;
$bubbles-stamina: #ffc51a;

// other
$stats-opacity: .9;
$dialogue-opacity: .8;

$font-size-1: 1vh;
$font-size-2: 2vh;
$font-size-2-5: 2.5vh;
$font-size-3: 3vh;
$font-size-4: 4vh;
$font-size-5: 5vh;
$font-size-6: 6vh;

@mixin transition {
    transition: all .5s;
}