<div class="container p-0">
    <div class="d-flex flex-column flexContainer">
        <div class="my-auto text-center">{{ question }}</div>
        <div 
            class="my-auto text-center"
            (click)="onDialogueChoice(1)">{{ answerOne }}</div>
        <div 
            class="my-auto text-center"
            (click)="onDialogueChoice(2)">{{ answerTwo }}</div>
        <div 
            class="my-auto text-center"
            (click)="onDialogueChoice(3)">{{ answerThree }}</div>
    </div>
</div>
