<div class="recipeElem mb-3">
    <div class="d-flex flex-column">
        <mat-accordion multi="false">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="d-flex flex-row titleContainer">
                            <div class="picture text-center">
                                <img src="{{ recipe.recipePictureUrl }}" alt="" *ngIf="recipe.recipePictureUrl; else noPic">
                                <ng-template #noPic>
                                    <img src="https://static.thenounproject.com/png/340719-200.png" alt="">
                                </ng-template>
                            </div>
                            <div class="name text-center">
                                <p>{{ recipe.recipeName }}</p>
                            </div>
                            <div class="allData text-center">
                                <span class="d-block">{{ recipe.allCal }} kCal</span>
                                <span class="d-block">{{ recipe.allWeight }} g</span>
                            </div>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <div class="d-flex flex-column recipeIngredients-wrapper">
                        <div class="d-flex flex-row recipeIngredients mb-3" *ngFor="let recipeIngredients of recipe.ingredients">
                            <div class="pic">
                                <img src="{{ recipeIngredients.picurl }}" alt="">
                            </div>
                            <div class="name text-center">{{ recipeIngredients.name }}</div>
                            <div class="amount text-center">{{ recipeIngredients.amount }} g</div>
                        </div>
                        <hr>
                        <div class="d-flex flex-row justify-content-around">
                            <button 
                                type="button" 
                                class="d-flex justify-content-center edit"
                                (click)="onEditRecipe()"
                                mat-raised-button 
                                color="accent">
                                    <mat-icon aria-hidden="false" aria-label="icon">settings</mat-icon></button>
                            <button 
                                type="button" 
                                class="d-flex justify-content-center delete"
                                (click)="onDeleteRecipe(recipe.id)"
                                mat-raised-button 
                                color="warn">
                                    <mat-icon aria-hidden="false" aria-label="icon">delete</mat-icon></button>
                        </div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>