@import "../../../assets/variables/borders";

.container-fluid {
    height: 100%;
    width: 100%;
    background-color: $default-black;
    opacity: $stats-opacity;

    @include border-bigest-bottom;

    .flex-column {
        height: 100%;

        .flex-row {
            height: 50%;

            &:first-child {
                @include border-medium-bottom;
            }

            :nth-child(2) {
                @include border-small-left;
            }
            
            div {
                width: 50%;
                height: 100%;

                &.amount-font-size {
                    font-size: $font-size-2;
                }
                
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;

                    &.coinPic {
                        width: 80%;
                        height: 60%;
                    }
                }
            }
        }
    }
}