.container-fluid {
    height: 100vh;
    width: 100vw;

    .side-area {
        height: 100vh;
        width: 100%;
    }

    .middle-area {
        height: 50vh;
        width: 100%;

        .cards-holder {
            height: 15vh;
            border: 1px solid dodgerblue;
        }

        .hero-holder {
            height: 15vh;
            /* border: 1px solid green; */
        }

        .arena-holder {
            height: 19vh;
            /* border: 1px solid orange; */
        }

        &--top {
            border: 1px solid red;
            /* .cards-holder--enemy {
                top: 0;
            }

            .hero-holder--enemy {
                top: 5.5rem;
            }

            .arena-holder--enemy {
                bottom: 0;
            } */
        }
        &--bottom {
            border: 1px solid purple;
            /* .cards-holder--player {
                bottom: 0;
            }

            .hero-holder--player {
                bottom: 5.5rem;
            }

            .arena-holder--player {
                top: 0;
            } */
        }
    }
}