<div class="container-fluid">
    <div class="row">
        <div class="col-1 px-0 side-area"> <!-- history -->
            <app-history></app-history>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12 position-relative middle-area middle-area--top">
                    <div class="row">
                        <div class="col-12 position-absolute cards-holder cards-holder--enemy"> <!-- enemy cards, mana -->
                            <div class="row">
                                <div class="col-10 px-0" style="border:1px solid orange"> <!-- enemy cards -->
                                    
                                </div>
                                <div class="col-2"> <!-- enemy mana -->
                                    
                                </div> 
                            </div>
                        </div> 
                        <div class="col-12 position-absolute hero-holder hero-holder--enemy"> <!-- enemy hero, hero power -->
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-7"> <!-- enemy hero -->
                                    
                                </div> 
                                <div class="col-3"> <!-- enemy hero power -->
                                    
                                </div> 
                            </div>
                        </div> 
                        <div class="col-12 position-absolute arena-holder arena-holder--enemy"> <!-- enemy arena -->
                            
                        </div> 
                    </div>
                </div>
                <div class="col-12 middle-area middle-area--bottom">
                    <div class="row">
                        <div class="col-12 arena-holder arena-holder--player"> <!-- player arena -->
                            <app-player-cards></app-player-cards>
                        </div> 
                        <div class="col-12 hero-holder hero-holder--player"> <!-- player hero, hero power -->
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-7"> <!-- player hero -->
                                    <app-player-cards></app-player-cards>
                                </div> 
                                <div class="col-3"> <!-- player hero power -->
                                    
                                </div> 
                            </div>
                        </div> 
                        <div class="col-12 cards-holder cards-holder--player"> <!-- player cards, mana -->
                            <div class="row">
                                <div class="col-10 px-0"> <!-- player cards -->
                                    <app-player-cards></app-player-cards>
                                </div>
                                <div class="col-2"> <!-- player mana -->
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 px-0 side-area"> <!-- decks and end turn -->
            <app-history></app-history>
        </div> 
    </div>
</div>

   