<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <form [formGroup]="recipeIngredientsForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>Recept neve:</mat-label>
                    <input 
                        type="text"
                        formControlName="name"
                        required
                        matInput>
                    <mat-error>Nem adtál meg nevet!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mb-2">
                    <mat-label>Kép:</mat-label>
                    <input 
                        type="text"
                        formControlName="pictureUrl"
                        matInput>
                    <mat-hint>(Opcionális)</mat-hint>
                </mat-form-field>

                <div class="d-flex flex-row justify-content-around result mb-3 mt-2">
                    <div class="col-4 d-flex flex-column text-center">
                        <div class="name">Összes kCal:</div>
                        <div class="val">{{ finalCal }} kCal</div>
                    </div>
                    <div class="col-4 d-flex flex-column text-center">
                        <div class="name">Mennyiség:</div>
                        <div class="val">{{ finalWeight }} g</div>
                    </div>
                </div>

                <mat-accordion formArrayName="ingredients" multi="false">
                    <mat-expansion-panel *ngFor="let ingredient of recipeIngredients; let i = index">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex flex-row">
                                    <div class="col-2 p-0 imgContainer">
                                        <img src="{{ ingredient.pictureUrl }}" alt="">
                                    </div>
                                    <div class="col-4 d-flex flex-column text-center">
                                        <div class="name">Név:</div>
                                        <div class="val">{{ ingredient.name }}</div>
                                    </div>
                                    <div class="col-4 d-flex flex-column text-center">
                                        <div class="name">Kalória mennyiség:</div>
                                        <div class="val">{{ ingredient.calAmount }} kCal</div>
                                    </div>
                                    <div class="col-2 text-center deleteWrapper">
                                        <button 
                                            type="button" 
                                            class="d-flex justify-content-center mx-auto mb-1 delete"
                                            (click)="onDeleteRecipeIngredient(i)"
                                            mat-raised-button 
                                            color="warn">
                                                <mat-icon aria-hidden="false" aria-label="icon">delete</mat-icon></button>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-action-row>
                            <mat-form-field appearance="outline" >
                                <mat-label>Add meg a mennyiséget</mat-label>
                                <input 
                                    type="number"
                                    [formControlName]="i" 
                                    (input)="inputChanged($event)"
                                    required
                                    matInput>
                                <mat-error>Nem adtál meg mennyiséget!</mat-error>
                            </mat-form-field>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                
                
                <button 
                    mat-raised-button 
                    color="primary"
                    class="mt-3" 
                    type="submit"
                    [disabled]="!recipeIngredientsForm.valid">Mentés</button>

            <!-- <button 
                class="btn btn-success" 
                type="submit"
                [disabled]="!ingredientForm.valid">Mentés</button>
            <button 
                class="btn btn-danger ml-2" 
                type="button"
                (click)="onDelete()">Törlés</button> -->
            </form>
        </div>
    </div>
</div>
