@import "../../../../assets/variables.scss";

.container {
    //border: 1px solid $container-border;
    //border-radius: 10px;
    background-color: $container-background;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    mat-form-field {
        width: 100%;
    }

    .result {
        .text-center {
            border: 1px solid grey;
            border-radius: 5px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .name {
            font-size: .6rem;
            font-weight: bold;
        }

        .val {
            font-size: .8rem;
        }
    }

    .ingredientContainer {
        height: 80%;
        width: 80%;

        .picture {
            width: 30%;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    
        .name {
            width: 40%;

            .val {
                font-size: .8rem;
                font-weight: bold;
            }
        }

        .cal {
            width: 30%;

            .info {
                font-size: .6rem;
            }

            .val {
                font-size: .9rem;
                font-weight: bold;
            }
        }
    }

    .mat-expansion-panel-header {
        padding: 0 30px 0 10px;

        .mat-expansion-panel-header-title {
            height: 40px;
            margin-right: 0;
        }
    }

    .mat-action-row {
        padding: 16px 8px 0px 24px;
    }

    .deleteWrapper {
        padding-top: 12px;

        .mat-raised-button {
            min-width: unset;
            width: 80%;
        }
    }
}