<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
                    
                    <mat-form-field appearance="outline">
                        <mat-label>Alapanyag neve:</mat-label>
                        <input 
                            type="text" 
                            formControlName="name"
                            required
                            matInput>
                        <mat-error>Nem adtál meg nevet!</mat-error>
                    </mat-form-field>

                    <!-- <div class="text-center">
                        <label class="d-block">Mennyiség típusa:</label>
                        <hr>
                        <div class="form-check form-check-inline my-2 mb-3" *ngFor="let amountType of amountTypes">
                            <input class="form-check-input" type="radio" name="amountType" [id]="amountType" 
                            ngModel
                            [value]="amountType"
                            required>
                            <label class="form-check-label" [for]="amountType">
                                {{ amountType }}
                            </label>
                        </div>
                        <hr>
                    </div> -->

                    <mat-form-field appearance="outline">
                        <mat-label>Kalória mennyiség:</mat-label>
                        <input 
                            type="number"  
                            formControlName="calAmount"
                            required
                            matInput>
                        <mat-error>Nem adtál meg mennyiséget!</mat-error>
                        <mat-hint>100 g/ml</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Kép:</mat-label>
                        <input 
                            type="text" 
                            formControlName="pictureUrl"
                            matInput>
                        <mat-hint>(Opcionális)</mat-hint>
                    </mat-form-field>

                <button 
                    mat-raised-button 
                    color="primary" 
                    type="submit"
                    [disabled]="!ingredientForm.valid">Mentés</button>
                <button 
                    mat-raised-button 
                    color="accent"
                    class="ml-2 mt-1" 
                    type="button"
                    (click)="onCancel()">Mégsem</button>
            </form>
        </div>
    </div>
</div>

