@import "../../../assets/variables/borders";

.container-fluid {
    height: 100%;
    width: 100%;
    background-color: $default-black;
    opacity: $stats-opacity;

    .flex-row {
        height: 100%;

        .flex-column {
            width: 25%;

            >:first-child {
                @include border-small-bottom;
                @include transition;

                &:hover {
                    @include border-small-bottom-hover;
                }
            }

            >:last-child {
                @include border-small-transparent;
                @include transition;

                &:hover {
                    @include border-small-transparent-hover;
                }
            }

            &:not(:last-child) {
                @include border-small-right;
            }
            
            div {
                height: 50%;
            }
        }
    }
}