<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input 
                matInput 
                type="text"
                name="title"
                [ngModel]="post?.title"
                required
                minlength="3"
                #title="ngModel">
            <mat-hint>Min. 3 characters</mat-hint>
            <mat-error *ngIf="title.invalid">Please enter a post title!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Text</mat-label>
            <textarea 
                matInput 
                rows="4" 
                name="content"
                [ngModel]="post?.content"
                required
                #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">The text area is empty!</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="primary" 
            type="submit">Save post</button>
    </form>
</mat-card>

