@import "./assets/variables/variables";

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $default-black;
    font-family: "fantasy", sans-serif;
    font-size: 1em;
    color: $hover-color;
    text-shadow: $text-shadow;
    overflow: hidden;
    user-select: none;
}
