.container {
    border: 2px solid white;
    border-radius: 10px;

    .ingredientElem {

        &:last-child {
            margin-bottom: 0 !important;
        }

        .wrapper {
            min-height: 50px;
            background-color: white;
            border: 2px solid transparent;
            border-radius: 10px;
            font-size: .6rem;
            -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
            transition: all .3s;

            &:hover {
                border-color: #96c93d;
                transform: translateY(3px);
                -webkit-box-shadow: 5px 5px 15px 1px #000000; 
                box-shadow: 5px 5px 15px 1px #000000;
                cursor: pointer;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        p {
            margin: 0;
        }

        p:first-child {
            font-size: .6rem;
            font-weight: bold;
        }

        .picture {
            width: 20%;
            background-image: url(https://cdn.britannica.com/94/151894-050-F72A5317/Brown-eggs.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border-radius: 10px;
        }
    }
}