@import "../../../../assets/variables.scss";

.container {
    //border: 1px solid $container-border;
    //border-radius: 10px;
    background-color: $container-background;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    mat-form-field {
        width: 100%;
    }


    hr {
        border-color: white;
        margin-bottom: .5rem;

        &:last-child {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    label {
        font-size: .95rem;
        font-weight: 300;
        font-family: 'Noto Sans', sans-serif;

        &.form-check-label {
            font-size: .85rem;
            font-weight: 100;
        }
    }

    .form-text {
        font-size: .6rem;
    }

    .form-control {
        border-width: 2px;

        &:focus {
            border-color: $container-form-focus;
            outline: unset;
            box-shadow: unset;
        }
    }

    .form-check {
        input,
        label {
            cursor: pointer;
        }
    }

    button:disabled {
        cursor: not-allowed;
    }
}