<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <form (submit)="onAddIngredient(postForm)" #postForm="ngForm">
                
                <mat-form-field appearance="outline">
                    <mat-label>Alapanyag neve:</mat-label>
                    <input 
                        type="text"
                        ngModel
                        name="name"
                        required
                        matInput>
                    <mat-error>Nem adtál meg nevet!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Kalória mennyiség:</mat-label>
                    <input 
                        type="number"
                        ngModel
                        name="calAmount"
                        required
                        matInput>
                    <mat-error>Nem adtál meg mennyiséget!</mat-error>
                    <mat-hint>100 g/ml</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Kép:</mat-label>
                    <input 
                        type="text"
                        ngModel
                        name="pictureUrl"
                        matInput>
                    <mat-hint>(Opcionális)</mat-hint>
                </mat-form-field>

                <button 
                    mat-raised-button 
                    color="primary"
                    class="mt-1" 
                    type="submit"
                    [disabled]="!postForm.valid">Mentés</button>
            </form>
        </div>
    </div>
</div>
