<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-12">
            <form (submit)="onAddIngredient(postForm)" #postForm="ngForm">
                
                    <div class="form-group">
                        <label for="name">Alapanyag neve:</label>
                        <input 
                            type="text"  
                            class="form-control"
                            ngModel
                            name="name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="calAmount">Kalória mennyiség:</label>
                        <input 
                            type="number"  
                            class="form-control"
                            aria-describedby="calorieHelpBlock"
                            ngModel
                            name="calAmount"
                            required>
                        <small id="calorieHelpBlock" class="form-text helper">
                            100 g/ml
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="pictureUrl">Kép:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            aria-describedby="pictureHelpBlock"
                            ngModel
                            name="pictureUrl">
                        <small id="pictureHelpBlock" class="form-text">
                            (Opcionális)
                        </small>
                    </div>
                <button 
                    class="btn btn-success" 
                    type="submit"
                    [disabled]="!postForm.valid">Mentés</button>
            </form>
        </div>
    </div>
</div>
