.container {
    border: 2px solid white;
    border-radius: 10px;

    label {
        font-size: .95rem;
        //font-weight: 500;
    }
    .form-control {
        border-width: 2px;

        &:focus {
            border-color: #96c93d;
        }
    }

    .form-check {
        input,
        label {
            cursor: pointer;
        }
    }
    
}