<div class="col-12 px-1 mb-3 ingredientElem">
    <div class="d-flex flex-row justify-content-around text-center wrapper py-1">
        <div class="picture">
            <img src="{{ ingredient.pictureUrl }}" alt="" *ngIf="ingredient.pictureUrl; else noPic">
            <ng-template #noPic>
                <img src="https://static.thenounproject.com/png/340719-200.png" alt="">
            </ng-template>
        </div>
        <div class="name">
            <p>{{ ingredient.name }}</p>
        </div>
        <div class="calAmount">
            <p>Kalória:</p>
            <p>{{ ingredient.calAmount }} kCal</p>
        </div>
        <div class="icons">
            <button 
                type="button" 
                class="d-flex justify-content-center mx-auto mb-1 edit"
                (click)="onEditIngredient()"
                mat-raised-button 
                color="accent">
                    <mat-icon aria-hidden="false" aria-label="icon">settings</mat-icon></button>
            <button 
                type="button" 
                class="d-flex justify-content-center mx-auto add"
                (click)="onAddIngredientToRecipe()"
                mat-raised-button 
                color="primary">
                    <mat-icon aria-hidden="false" aria-label="icon">check_circle</mat-icon></button>
        </div>
    </div>
</div>
