<div class="col-12 px-1 mb-3 ingredientElem">
    <div class="d-flex flex-row justify-content-around text-center wrapper py-1">
        <div class="picture">
            <img src="{{ ingredient.pictureUrl }}" alt="" *ngIf="ingredient.pictureUrl; else noPic">
            <ng-template #noPic>
                <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" alt="">
            </ng-template>
        </div>
        <div class="name">
            <p>{{ ingredient.name }}</p>
        </div>
        <div class="calAmount">
            <p>Kalória:</p>
            <p>{{ ingredient.calAmount }} kCal</p>
        </div>
        <div class="icons">
            <button 
                type="button" 
                class="btn btn-sm btn-warning mx-auto mb-1"
                (click)="onEditIngredient()">
                    <i class="bi-gear-fill"></i></button>
            <button 
                type="button" 
                class="btn btn-sm btn-success mx-auto">
                    <i class="bi-plus-circle"></i></button>
        </div>
    </div>
</div>
