<div class="container-fluid">
  <div class="row">
    <div class="d-flex align-items-center justify-content-center col-sm-3">
      <div class="base-containers">
        <app-stats></app-stats>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center col-sm-8">
      <div class="base-containers middle">
        <app-dialogue></app-dialogue> <!-- arena comes here too! maybe *ngIf -->
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center col-sm-1">
      <div class="base-containers"></div>
    </div>
  </div>
</div>